body {
  background-image: url(1.jpg);
  background-size: cover;
}
.wrap {
  width: 100%;
  margin: 0% ;
}
.wrap .panel{
  background: rgba(255,255,255,0.5);
  float: left;  
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: 0;
}

.panel .admin{
	padding: 50px;
}
.panel ul li{
  list-style-type: none;
  padding: 10px 0px;
  font-family: Segoe UI;
  font-size: 15px;
  color: black;
  padding-top: 0px;
}

.panel li a {
  color: black;
  text-decoration: none;
}
.active{
  background: rgba(202,204,206,0.6);
}
.data{
  float: left;
  font-family: Segoe UI;
}
.content{
  margin-left: 25%;
}
.content .menu{
  float: right;
  margin-right: 10%;
}
.content .menu ul li{
  list-style-type: none;
}
.content .menu li a{
  color: black;
  text-decoration: none;
}
.content .isi{
  background: rgba(255,255,255,0.5);
  margin-left: 0px;
  float: left;
  height: 470px;
  width: 900px;
  border-radius: 20px;
  padding: 30px
}
.content .isi .tambah_data{
  float: left;
  font-size: 17px;
  background-color: #5F88F9;
  color: white;
  border-radius: 5px;
}
.content .isi .search{
  float: right;
  font-size: 17px;

}
.content .isi table {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  border-collapse: collapse;
}
.tabel tr th{
    background: white;
    color: black;
    font-weight: normal;
}
.tabel, th, td {
    padding: 5px 5px;
    text-align: center;
}
 
.tabel tr {
    background-color:white;
}
 
.tabel tr:nth-child(even) {
    background-color: #B8DCE9;
}
.button1{
  background-color: #5F88F9;
  color: white;
  border-radius: 7px;
  border: none;
}
.button2{
  background-color: #30E930;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: none;
}
.button3
{
  background-color: #E83939;
  color: white;
  border-radius: 7px;
}
/*tambah data*/
.content .kotak{
  background: rgba(255,255,255,0.5);
  margin-left: 0px;
  float: left;
  height: 250px;
  width: 900px;
  border-radius: 20px;
  padding: 30px
}
.file{
  position: absolute;
  left: 29.5%;
}
.agama{
  width: 175px;
}
.kiri{
  position: absolute;
  left: 50%;
  bottom: 50%;
}
.kiri2{
  position: absolute;
  left: 50%;
  bottom: 46.8%;
}
.kanan{
  position: absolute;
  left: 70%;
  bottom: 53%;
}
.save1{
  background-color: #30E930;
  margin-left: 65%;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-top: 13px;
  height: 20px;
  color: white;
}
.cancel1{
  background-color: #E83939;
  width: 75px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
/*tambah data pelajaran*/
.content .kotak_pel{
  background: rgba(255,255,255,0.5);
  margin-left: 0px;
  float: left;
  height: 250px;
  width: 600px;
  border-radius: 20px;
  padding: 30px

}
.kiri_pelajaran{
  position: absolute;
  left: 30%;
  bottom: 50%;
}
.kelas{
   width: 173px;
}
.hari{
  width: 173px;
}
.kanan_pelajaran{
  position: absolute;
  left: 49%;
  bottom: 50%;
}
.saveTP{
  background-color: #30E930;
  margin-left: 49%;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-top: 35%;
  height: 20px;
  color: white;
}
.cancelTP{
  background-color: #E83939;
  width: 75px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
/*detail peng*/
.edit_peng{
  background-color: #F5A743;
  margin-left: 75%;
  width: 75px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
/*detail sis*/
.edit_sis{
  background-color: #F5A743;
  margin-left: 50%;
  width: 73px;
  font-size: 110%;
  border-radius: 5px;
  border: none;
  color: white;
  position: absolute;
  top: 52%;
}
/*detail pel*/
.edit_pel{
  background-color: #F5A743;
  margin-left: 65%;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-top: 35%;
  height: 20px;
  color: white;
}
/*edit data peng*/
.update2{
  background-color: #30E930;
  margin-left: 65%;
  width: 75px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
.cancel2{
  background-color: #E83939;
  width: 75px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}

/*edit data sis*/
.update_sis{
  background-color: #30E930;
  margin-left: 65%;
  margin-top: 80px;
  width: 75px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
.cancel_sis{
  background-color: #E83939;
  width: 75px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  height: 20px;
  color: white;
}
/*edit data pel*/
.update_pel{
  background-color: #30E930;
  margin-left: 52%;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-top: 35%;
  height: 20px;
  color: white;
}
.cancel_pel{
  background-color: #E83939;
  width: 75px;
  border-radius: 5px;
  border: none;
  margin-top: 35%;
  height: 20px;
  color: white;

}
/*dashboard*/
.k1{
  background-color: white;
  border:solid 1px;
  width: 10%;
  height: 22.4%;
  border-radius: 10%;
  position: absolute;
  top: 20%;
  left: 30%;
}
.p_siswa{
  position: absolute;
  left: 20%;
  bottom: 1%;
}
.k2{
  background-color: white;
  border:solid 1px;
  width: 10%;
  height: 22.4%;
  border-radius: 10%;
  position: absolute;
  top: 20%;
  left: 44%;
}
.p_pengajar{
  position: absolute;
  left: 20%;
  bottom: 1%;
}
.k3{
  background-color: white;
  border:solid 1px;
  width: 10%;
  height: 22.4%;
  border-radius: 10%;
  position: absolute;
  top: 20%;
  left: 58%;
}
.p_kelas{
  position: absolute;
  left: 20%;
  bottom: 1%;
}
.k4{
  background-color: white;
  border:solid 1px;
  width: 10%;
  height: 22.4%;
  border-radius: 10%;
  position: absolute;
  top: 20%;
  left: 72%;
}
.p_pelajaran{
  position: absolute;
  left: 20%;
  bottom: 1%;
}
.k5{
  background-color: white;
  border:solid 1px;
  width: 10%;
  height: 22.4%;
  border-radius: 10%;
  position: absolute;
  top: 60%;
  left: 30%;

}
.p_buku{
  position: absolute;
  left: 20%;
  bottom: 1%;
}