body {
  background-image: url(1.jpg);
  background-size: cover;
}
.wrap {
  width: 100%;
  margin: 0% ;
}
.wrap .header{
  background: rgba(255,255,255,0.2);
  margin: 0px;
  padding: 10px 40px;
  float: left;  
  width: 58%;
  color: goldenrod;
}
.wrap .menu {
  background: rgba(255,255,255,0.2);
  padding: 10px 40px;
  float: left;
  width: 30%; 
}
.wrap .menu ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.wrap .menu ul li{
  float: right;
  list-style-type: none;
  padding: 12px;
  font-family: helvetica;
  font-size: 10px;
}
.clear{
  clear: both;
}
.badan{
  height: 650px;
}
.wrap .badan .konten{
  /*background: green;*/
  float: left;  
  width: 60%;
  height: 100%;
}
.konten .deskripsi{
  padding: 15% 10%;
}
.konten .deskripsi h2 {
  font-family: tahoma;
  font-size: 40px;
}
.konten .deskripsi p {
  font-size: 30px;
}
.wrap .badan .login-page {
  /*background: red;*/
  /*padding: 8% 0 0;*/
  margin: auto;
  float: left;
  height: 100%;
  width: 40%;
}
.form {
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background: rgba(255,255,255,0.5);
  max-width: 300px;
  margin: 100px auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .pesan {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .pesan a {
  color: #4CAF50;
  text-decoration: none;
}
.wrap .badan .panel{
  background: rgba(255,255,255,0.5);
  float: left;  
  width: 20%;
  height: 100%;
}
.panel .kelas {
  padding: 20px;
}
.badan .panel ul li{
  list-style-type: none;
  padding: 10px 0px;
  font-family: helvetica;
  font-size: 14px;
  color: black;
}
.panel li a {
  color: black;
  text-decoration: none;
}
.menu li a {
  color: black;
  text-decoration: none;
}
.wrap .badan .isinya {
  /*background: red;*/
  /*padding: 8% 0 0;*/
  background: rgba(255,255,255,0.5);
  margin: 10px;
  float: left;
  height: 99%;
  width: 78%;
  border-radius: 20px;
}
.isinya .materi {
  padding: 50px;
}
.materi table {
  width: 100%;
}
.materi td h2 {
  font-size: 20px
}