body{
	background: url(https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1418&q=80);
	background-size: cover;
}
.h1{
	font-size: 50px;
	color: white;
	font-family: sans-serif;
}
.form{
	font-size: 20px;
}
.button{
	width: 100px;
	height: 30px;
	border: none;
	background-color:#31D125;
	color: black;
}
.table{
	 border: 1px;
	 width :300px;
}
